{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header--form-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                {% if user.is_authenticated %}
                    <li class="logged-user">
                        Witaj {{ user.first_name }}
                        <ul class="dropdown">
                            <li><a href="{% url 'profile' user.id %}">Profil</a></li>
                            <li><a href="{% url 'settings' user.id %}">Ustawienia</a></li>
                            <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                            {% if user.is_superuser %}
                                <li><a href="../admin">Panel administracyjny</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}#login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                    <li><a href="{% url 'register' %}#register" class="btn btn--small btn--highlighted">Załóż konto</a>
                    </li>
                {% endif %}
            </ul>

            <ul>
                <li><a href="{% url 'landing_page' %}" class="btn btn--without-border active">Start</a></li>
                <li><a href="{% url 'landing_page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="{% url 'landing_page' %}#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="{% url 'landing_page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a href="{% url 'landing_page' %}add_donation" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>


        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Oddaj rzeczy, których już nie chcesz<br/>
                    <span class="uppercase">potrzebującym</span>
                </h1>

                <div class="slogan--steps">
                    <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                    <ul class="slogan--steps-boxes">
                        <li>
                            <div><em>1</em><span>Wybierz rzeczy</span></div>
                        </li>
                        <li>
                            <div><em>2</em><span>Spakuj je w worki</span></div>
                        </li>
                        <li>
                            <div><em>3</em><span>Wybierz fundację</span></div>
                        </li>
                        <li>
                            <div><em>4</em><span>Zamów kuriera</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <section class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3>Ważne!</h3>
                <p data-step="1" class="active">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="2">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="3">
                    Wybierz jedną, do
                    której trafi Twoja przesyłka.
                </p>
                <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
            </div>
        </div>

        {% if user.is_authenticated %}

            <div class="form--steps-container">
                <div class="form--steps-counter">Krok <span>1</span>/5</div>

                <form action="" method="post">
                    <!-- STEP 1: class .active is switching steps -->
                    <div data-step="1" class="active">
                        <h3>Zaznacz co chcesz oddać:</h3>

                        {% for category in categories %}

                            <div class="form-group form-group--checkbox">
                                <label>
                                    <input type="checkbox" name="categories" class="categories" value={{ category.id }}>
                                    <span class="checkbox"></span>
                                    <span class="description">{{ category.name }}</span>
                                </label>
                            </div>

                        {% endfor %}


                        <div class="form-group form-group--buttons">
                            <button type="button" id="btn-first-step" class="btn next-step">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 2 -->
                    <div data-step="2">
                        <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                        <div class="form-group form-group--inline">
                            <label>
                                Liczba 60l worków:
                                <input type="number" id="bags" name="bags" step="1" min="1"/>
                            </label>
                        </div>

                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="button" class="btn next-step" >Dalej</button>
                        </div>
                    </div>


                    <!-- STEP 3 -->
                    <div data-step="3" id="institution-check">
            <h3>Wybierz organizacje, której chcesz pomóc:</h3>

            {% for institution in institutions %}
                <div class="form-group form-group--checkbox">
                  <label>
                    <input type="radio" name="organization" class="institutions" value="{{ institution.id }}" data-category_id="{% for category in institution.categories.all %}{{ category.id }} {% endfor %}"/>
                    <span class="checkbox radio"></span>
                    <span class="description">
                      <div class="title">{{ institution.name }}</div>
                      <div class="subtitle">
                        Instytucja przyjmie: {% for category in institution.categories.all %}{{ category.name }} {% endfor %}
                      </div>
                    </span>
                  </label>
                </div>
            {% endfor %}

            <div class="form-group form-group--buttons">
              <button type="button" class="btn prev-step" id="filter-reset">Wstecz</button>
              <button type="button" class="btn next-step">Dalej</button>
            </div>
          </div>

                    <!-- STEP 4 -->
                    <div data-step="4">
                        <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru</h4>
                                <div class="form-group form-group--inline">
                                    <label> Ulica <input type="text" name="address" id="address"/> </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label> Miasto <input type="text" name="city" id="city"/> </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label>
                                        Kod pocztowy <input type="text" name="postcode" id="postcode"/>
                                    </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label>
                                        Numer telefonu <input type="phone" name="phone" id="phone"/>
                                    </label>
                                </div>
                            </div>

                            <div class="form-section--column">
                                <h4>Termin odbioru</h4>
                                <div class="form-group form-group--inline">
                                    <label> Data <input type="date" name="data" id="date"/> </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label> Godzina <input type="time" name="time" id="time"/> </label>
                                </div>

                                <div class="form-group form-group--inline">
                                    <label>
                                        Uwagi dla kuriera
                                        <textarea name="more_info" rows="5" id="more_info"></textarea>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="button" class="btn next-step" id="btn-show">Dalej</button>
                        </div>
                    </div>

                    <!-- STEP 5 -->
                    <div data-step="5">
                        <h3>Podsumowanie Twojej darowizny</h3>

                        <div class="summary">
                            <div class="form-section">
                                <h4>Oddajesz:</h4>
                                <ul>
                                    <li>
                                        <span class="icon icon-bag"></span>
                                        Ilość worków: &ensp;
                                        <span class="summary--text" id="bags-info"></span>
                                    </li>

                                    <li>
                                        <span class="icon icon-hand"></span>
                                        Na rzecz: &ensp;
                                        <span class="summary--text" id="institution-info"></span>
                                    </li>
                                </ul>
                            </div>

                            <div class="form-section form-section--columns">
                                <div class="form-section--column">
                                    <h4>Adres odbioru:</h4>
                                    <ul>Ulica:
                                        <li id="address-info"></li>
                                        Miasto:
                                        <li id="city-info"></li>
                                        Kod pocztowy:
                                        <li id="postcode-info"></li>
                                        Telefon kontaktowy:
                                        <li id="phone-info"></li>
                                    </ul>
                                </div>

                                <div class="form-section--column">
                                    <h4>Termin odbioru:</h4>
                                    <ul>Data:
                                        <li id="date-info"></li>
                                        Godzina:
                                        <li id="time-info"></li>
                                        Dodatkowe informacje:
                                        <li id="more_info-info"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <a class="form-group form-group--buttons">
                            <button type="button" class="btn prev-step">Wstecz</button>
                            <button type="submit" class="btn">Potwierdzam</button>
                        </div>
                {% csrf_token %}
                </form>
            </div>

        {% else %}

            <div class="form--steps-container">
                <div class="text"><h3>Ta sekcja jest dostępna tylko dla zalogowanych użytkowników</h3></div>

                <div>
                    <ul>
                        <li><a href="{% url 'login' %}#login" class="btn btn--small btn--without-border">Zaloguj</a>
                        </li>
                        <li><a href="{% url 'register' %}#register" class="btn btn--small btn--highlighted">Załóż
                            konto</a></li>
                    </ul>
                </div>


            </div>

        {% endif %}

    </section>

{% endblock %}

</body>
</html>
