{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header class="header--form-page">
      <nav class="container container--70">
        <ul class="nav--actions">
            {% if user.is_authenticated %}
                <li class="logged-user">
                Witaj {{ user.first_name }}
                <ul class="dropdown">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Ustawienia</a></li>
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                </ul>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}#login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a href="{% url 'register' %}#register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            {% endif %}
        </ul>

        <ul>
          <li><a href="../" class="btn btn--without-border active">Start</a></li>
          <li><a href="../#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="../#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="../#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>

    {% endblock %}

  </body>
</html>
