{% extends 'base.html' %}
{% load static %}

{% block content %}
    <header>
      <nav class="container container--70">
        <ul class="nav--actions">
            {% if user.is_authenticated %}
                <li class="logged-user">
                Witaj {{ user.first_name }}
                <ul class="dropdown">
                    <li><a href="{% url 'profile' user.id %}">Profil</a></li>
                    <li><a href="{% url 'settings' user.id %}">Ustawienia</a></li>
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                    {% if user.is_superuser %}
                        <li><a href="../admin">Panel administracyjny</a></li>
                    {% endif %}
                </ul>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}#login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a href="{% url 'register' %}#register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            {% endif %}
        </ul>

        <ul>
          <li><a href="{% url 'landing_page' %}" class="btn btn--without-border active">Start</a></li>
          <li><a href="{% url 'landing_page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="{% url 'landing_page' %}#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="{% url 'landing_page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url 'landing_page' %}add_donation" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <section id="login" class="login-page">
      <h2>Zaloguj się</h2>
      <form action="" method="POST">
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Hasło" />
          <a href="#" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'register' %}#register" class="btn btn--without-border">Załóż konto</a>
          <button class="btn" type="submit">Zaloguj się</button> 
        </div>
          {% csrf_token %}
      </form>
    </section>

    {% endblock %}

  </body>
</html>
